body {
    margin: 0;
    padding: 0;
    background: lightcyan;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.video-box {
    border: 3px solid rgb(47, 130, 255);
    width: 90%;
    height: 480px;
    position: relative;
}

.test1 {
    position: absolute;
    left: 100px;
    top: 100px;
}
